html {
    scroll-behavior: smooth;
    a {
        text-decoration: none;
        color:white;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Bungee+Shade&family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
body {
    margin-left: 70px;
    margin-right: 70px;
    color:white;
    background-color:#181818;
    font-family: 'Baloo 2', cursive;
    scroll-behavior: smooth;

}

hr {
    background-color:#b71c1c;
    border-color: #b71c1c;
}
header > span {
    font-family: 'Londrina Shadow', cursive;

    letter-spacing: 10px;
    font-size:2em;
}
.socialMedia:hover,
.socialMedia:focus {
    cursor: pointer;
  filter: invert(25%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}
.wyswgli {
    background-color:rgba($color: #fff, $alpha: 0.1);
    margin:0;
    padding:0;
    display:flex;
    justify-content: right;
    border-radius:10px;
}
.wyswg:hover,
.wyswg:focus {
    cursor: pointer;
  filter: invert(90%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}
li:hover {
    color:#b71c1c;
    cursor: pointer;
}
li:active{
    color: #1565c0;
  
}
h1 {
    font-family: 'Bungee Shade', cursive;
    text-align:center;
    font-size:2em;


}
.first {
    width:100%;
   height: 85%;
    display:grid;
    grid-template-columns: 3fr 1fr;
    
    grid-row:auto;
    img {
        width:100%;
        
    }
}
.overview{
    height:calc(100%-50px- 20px);
    margin-bottom:30px;
    padding:10px;
    background-color: #b71c1c;
    text-align:justify;
    font-size:1.1em;
}
.video {
    width:100%;
    height:90%;
    text-align: center;
    margin-bottom:30px;
}
.paralax {
    display:block;
    background-image: url("Adele-SNL.jpeg");
  
    height: 96.6%;
  
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .dropbtn {
   
    color: white;
   
   
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
 
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropdown-content a:hover {background-color: #ddd;}
 
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


header {
    ul {
       
        text-decoration: none;
        list-style: none;
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: -10px;
        .wyswgli {
            margin-left:20px;
        }
        img {
            width:40px;
        }
    }
        li {
            cursor: pointer;
            display:inline;
            padding:15px;
            text-align: center;
            border: 0px none;
            
    }
}
footer {
    margin-top:50px;
    border-radius: 40px 40px;
    margin-bottom:30px;
    padding:10px;
    background-color: lighten($color: #181818, $amount: 24);
    text-align:center;
    img {
        width:40px;
    }
}
.gallery {
  
    padding-top:30px;
    height:100%;
    width:100%;
  text-align: center;
    img {
        width:60%;
        
    }
}
.pages {
    width:100%;
    height:100%;
    font-size:1.2em;
    text-align:center;
    justify-content: center;
   
   
}
.page {
    margin:auto;
    background-color:darken($color: #b71c1c, $amount: 20); 
    display:flex;
    height:80%;
  
    flex-direction: column;
    justify-content: center;
    border-radius:100px;
    input {
        border-radius: 20px;
        border:2px solid white;
        background-color: rgba($color: #fff, $alpha: 0.3);
        color:white;
        text-align:center;
    }
  
   
}
.frame {
    display: grid;
    height:80vh;
    grid-template-columns: 1fr 3fr;
    grid-gap: 30px;
    iframe {
        width:100%;
        height: 100%;
    }
}
.text {
    display:grid;
    height:90vh;
    text-align:justify;
    justify-content: center;
    justify-items: center;
    align-items: center;
   p {
    border:4px solid #b71c1c;
    padding:20px;
    margin-top:50px;
    display:grid;
    justify-content: center;
    justify-items: center;
    font-size:1.3em;
    
    
   }
}
.contact {
    display:flex;
    margin:auto;
    border:4px solid #b71c1c;
    padding:20px;
    margin-top: 100px;
    align-items: center;
    width:50%;
    height:50%;
    text-align: center;
    justify-content: center;
    input {
        display:flex;
        width:100%;
    }
    #contact {
        display:flex;
        flex-direction: column;
    }
}
@media (max-width: 1800px) {
    .first{
        width:100%;
        height: 85%;
         display:grid;
         grid-template-columns: 2fr 1.3fr;
         
         grid-row:auto;
         img {
             width:100%;
             
         }
    }
    .gallery {
        margin-top:100px;
        padding-top:30px;
        height:100%;
        width:100%;
      text-align: center;
        img {
            width:80%;
            
        }
    }
  }
  .mobile {
      display:none;
  }
  @media (max-width: 1000px) {
    .first{
        width:100%;
        height: 85%;
         display:grid;
         grid-template-columns: 1fr ;
         grid-template-rows: 3fr 0.5fr;
         
         grid-row:auto;
         img {
             width:100%;
            height:1fr;
             
         }
    }
    .gallery {

        margin-top:100px;
        width:100%;
        height:50%;
        
      text-align: center;
        img {
          
            
        }
    }
    .splide {
        
    }
    .contact {
        margin:auto;
        border:4px solid #b71c1c;
        padding:20px;
        margin-top: 100px;
        display:flex;
        width:100%;
        height:50%;
        text-align: center;
        justify-content: center;
        #contact {
            display:flex;
            flex-direction: column;
        }
    }
    header > ul {
        display:none;
    }
    .mobile {
        display:inline-block;

    }
    .wyswgli {
        width:30px;
        display:inline-block;
        margin-left:15px;
        padding:5px;
    }
    .wyswg {
        margin:0;
        height:30px;
       
        padding:0;
        display:inline-block;
    }
    .text {
        display:grid;
        width:100%;
        height:95vh;
        text-align:justify;
        justify-content: center;
        justify-items: center;
        align-items: center;
       p {
        border:4px solid #b71c1c;
        padding:20px;
        margin-top:50px;
        display:grid;
        justify-content: center;
        justify-items: center;
        font-size:1.3em;
        
        
       }
    }
    .video {
        margin-top:20%;
        width:100%;
        height:80%;
        text-align: center;
        margin-bottom:30px;
    }
  }
  @media (max-width:770px) {
    .video {
        margin-top:50%;
        width:100%;
        height:80%;
        text-align: center;
        margin-bottom:30px;
    }
    .text {
        display:grid;
        width:100%;
        height:95vh;
        text-align:justify;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-bottom:20%;
       p {
        border:4px solid #b71c1c;
        padding:20px;
        margin-top:50px;
        display:grid;
        justify-content: center;
        justify-items: center;
        font-size:1.3em;
        
        
       }
    }
  }
  @media (max-width: 660px){
      body {
          margin:5px;
      }
    .text {
        display:grid;
        width:100%;
        height:150%;
        text-align:justify;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-bottom:20%;
       p {
        border:4px solid #b71c1c;
        padding:20px;
        margin-top:50px;
        display:grid;
        justify-content: center;
        justify-items: center;
        font-size:1em;
        
        
       }
    }
    .contact {
        margin:auto;
        border:4px solid #b71c1c;
        
        margin-top: 100px;
        display:flex;
        width:80%;
        height:80%;
        text-align: center;
        justify-content: center;
        #contact {
            display:flex;
            flex-direction: column;
        }
    }
    .wyswgli {
        width:30px;
        
      display:inline-block;
        padding:5px;
    }
    .wyswgli:nth-child(1) {
        margin-left:100px;
        padding:20px;
        display:none;
    }
    .pages {
        width:100%;
        height:100%;
       
    }
    .page {
        background-color:darken($color: #b71c1c, $amount: 20); 
      
       
    }
    .frame {
        display: grid;
        height:80vh;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
       
        iframe {
            grid-row:1;
            height:200px;
           
        }
    }
    .first{
        
        height: 150%;
         display:grid;
         grid-template-columns: 1fr ;
         grid-template-rows: 4fr 0.5fr;
         
         grid-row:auto;
         img {
             
             height:100%;
            height:1fr;
             
         }
    }
    .paralax {
 
        background-image: url("Adele-SNL.jpeg");
      
        height: 150%;
      
        
        background-attachment: fixed;
       
        background-repeat: no-repeat;
        
      }
      .page {
        margin:auto;
        background-color:darken($color: #b71c1c, $amount: 20); 
        display:flex;
        height:80%;
        flex-direction: column;
        justify-content: center;
        border-radius:40px;
        input {
           
            border:2px solid white;
            background-color: rgba($color: #fff, $alpha: 0.3);
            color:white;
            text-align:center;
        }
      
       
    }
  
  }
  @media (max-width:400px) {
      .first {
          
      }
      .page {
        margin:auto;
        background-color:darken($color: #b71c1c, $amount: 20); 
        display:flex;
        height:50%;
        flex-direction: column;
        justify-content: center;
        border-radius:200px;
        input {
           
            border:2px solid white;
            background-color: rgba($color: #fff, $alpha: 0.3);
            color:white;
            text-align:center;
        }
      
       
    }
    .paralax {
        display:none;
        height:0%;
    }
  }
